/* CSS-Datei */

/* Globale Stile */
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: white;
}

/* Grundlegende Container- und Zeilenformatierung */
.container {
  width: 80%;
  margin: 0 auto; /* Zentriert den Container */
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin: 20px 0; /* Fügt oben und unten einen Abstand hinzu */
}

/* Text-Formatierung */
p {
  font-family: Arial, sans-serif;
  line-height: 1.6; /* Verbessert die Lesbarkeit */
}

/* Überschriften-Formatierung */
h2 {
  font-family: "Georgia", serif;
  color: #333; /* Dunkelgraue Farbe für Text */
  margin-bottom: 20px; /* Abstand unter der Überschrift */
}

/* Projekt-Karten */
.card {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Fügt einen leichten Schatten hinzu */
  margin: 10px; /* Fügt einen Abstand zwischen den Karten hinzu */
}

.card-img-top {
  width: 100%; /* Stellt sicher, dass das Bild die Karte ausfüllt */
  height: auto; /* Behält das ursprüngliche Seitenverhältnis bei */
}

.card-body {
  padding: 20px; /* Fügt Innenabstand hinzu */
}

/* Spaltenanpassung für das Grid-System */
.col-md-4 {
  flex: 0 0 33.333333%; /* Nimmt ein Drittel der Zeilenbreite ein */
  max-width: 33.333333%; /* Begrenzt die maximale Breite */
}

/* Responsive Anpassungen */
@media (max-width: 768px) {
  .col-md-4 {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .row {
    flex-direction: column;
  }
}

#Begrüßung {
  margin-top: 20px;
  display: flex; /* Aktiviert Flexbox-Layout */
  justify-content: center; /* Zentriert horizontal in der Mitte */
  align-items: center; /* Zentriert vertikal in der Mitte */
  flex-direction: column; /* Anordnung der Elemente untereinander */
}

#Hinweistafel {
  margin-top: 20px;
}

.gray {
  background-color: rgb(40, 136, 205);
  color: white;
}
#about p {
  background-color: lightblue; /* Beige Farbe */
  padding: 15px; /* Innenabstand */
  margin-bottom: 10px; /* Abstand zwischen den Blöcken */
  border-radius: 5px; /* Abgerundete Ecken */
}
.card-body {
  background-color: lightblue; /* Setzt die Hintergrundfarbe */
}
.card-text {
  background-color: lightblue;
}
.card-title {
  background-color: lightblue; /* Setzt die Hintergrundfarbe */
}
.contact-section {
  padding: 50px; /* Erhöht den Innenabstand */
  margin: 30px 0; /* Fügt oben und unten einen Außenabstand hinzu */
}
.black-border {
  border: 0px solid black; /* Adjust the border width and style as needed */
  /* margin-bottom: 2rem; Adjust the value as needed */
}
.white {
  color: white;
}
